.element__like {
  padding: 0;
  width: 22px;
  height: 19px;
  background-size: contain;
  background: url(../../../images/like-button.svg)
  no-repeat;
  border: none;
  transition: .6s linear;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}
