.header__logo{
  margin: 0 0 41px;
  padding: 0;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 720px) {
  .header__logo {
    margin: 0 0 31.6px 27px;
    max-width: 103.74px;
    max-height: 24.4px;
  }
}